.cards {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 70rem;
	font-family: var(--font-sans);
	z-index: 1;

	article {
		flex: 1 1 0;
		padding: var(--const-0);
		padding-top: var(--const-3);
		position: relative;
		min-height: 8rem;
		min-width: min(14rem, 100vw);
		font-size: var(--scale-2);
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		line-height: 1;
		gap: .5ex;
		max-width: 50rem;
	}
	article::after {
		content: '→';
	}
	a {
		margin-top: auto;
	}
	a::after {
		content: '';
		position: absolute;
		inset: 0;
	}
}

@media (min-width: 60rem) {
	.cards {
		padding-inline: var(--const-2);
		padding-block: var(--const-1);
		gap: var(--const-2);
		flex-wrap: nowrap;

		article {
			padding-top: var(--const-1);
			height: 20rem;
			overflow: hidden;
			border-radius: 15px;
			align-items: flex-start;
			min-width: unset;
		}

		a { margin-top: 0 }
		article::after { margin-top: auto }
	}

	@supports selector(:has(+ .cards)) {
		.cards {
			padding-block: 0;
			position: absolute;
			translate: max(0px, calc(50vw - var(--const-max) / 2)) -50%;
		}
		:is(section, figure):has(+ .cards) {
			padding-bottom: 12rem;
		}
		.cards + * {
			padding-top: 12rem;
		}
	}
}