footer {
	max-width: var(--const-max);
	margin-inline: auto;
	padding-bottom: var(--scale-3);
	line-height: 1.1;
	padding-top: 3rem;
	background: var(--accent);
	background: linear-gradient(to bottom, 
		color-mix(in lch, var(--accent) 40%, transparent) 1rem,
		color-mix(in lch, var(--accent) 60%, transparent) 1rem 2rem,
		color-mix(in lch, var(--accent) 80%, transparent) 2rem 3rem,
		var(--accent) 3rem);
	color: var(--accentText);
	position: relative;
	z-index: 3;
    font-size: var(--scale--1); 
	
	&:target {
		scroll-margin-block: 0;
	}

	[href="#top"] {
		font-size: var(--scale-0);
		font-family: var(--font-sans);
	}

	/* NAV */
	nav ul, nav ol {
		display: flex;
		flex-wrap: wrap;
	}
	.menu-item {
		flex: 1 1 12rem;
		padding: var(--const-0);
		font-size: var(--scale-2);
	}
	.outline {
		font-size: var(--const-0);
		gap: var(--const--3);
		margin-top: var(--scale--2);
	}
	.outline li {
		flex-basis: fit-content;
		margin: 0;
	}
	li.mobile-menu-item {
		display: none;
	}
	a[aria-current="page"]::before {
		content: '→ ';
	}
}