header {
	height: auto;
	min-height: var(--scale-6);
	padding: var(--scale-5) var(--fast-0) var(--scale-0);
	position: relative;
/*	color: var(--white);*/

	h1 {
		max-width: 12em;
		margin-bottom: var(--scale-4);
		display: inline-block;
		background: var(--ground);
		color: var(--text);
		border-radius: 15px;
		padding: var(--const-0);
		padding-bottom: var(--const--2);
	}
	&.long h1 {
		background: none;
	}
}