header {
	height: auto;
	min-height: min(1000px, 80lvh);
	padding: var(--scale-5) var(--fast-0) var(--scale-0);
	position: relative;
	background-color: var(--ground);
	--flow-space: .2em;
/*	color: var(--white);*/

	.navgroup {
/*		background: var(--accent);*/
		border-radius: 15px;
		color: var(--accentText);
		font-size: var(--scale-0);
	    font-family: var(--font-sans);
	    line-height: 1;
	    margin-bottom: var(--scale-4);
	    display: inline-block;

		p, a {
			display: block;
			width: max-content;
			background: var(--accent);
			margin-bottom: var(--const--2);
			border-radius: 10px;
			padding: var(--const--1) var(--const--1) var(--const--2);
		}
		a::before {
			content: '⬅ ';
		}

		h1 {
			margin: 0;
/*			background: var(--ground);*/
		}
	}

	h1 {
		max-width: calc(12 * var(--fast--1));
		margin-bottom: var(--scale-4);
/*		margin-left: calc(-1 * var(--const-0));*/
		display: inline-block;
		background: color-mix(in lch, var(--ground), transparent);
		border: 2px solid var(--accent);
		color: var(--text);
		border-radius: 15px;
		padding: var(--const-0) var(--const-0) var(--const--2);
	}
/*	&.long h1 {
		background: none;
		padding: 0;
	}*/


	img {
		height: var(--const-9);
		width: auto;
		position: relative;
		z-index: 1;
		border-radius: 15px;
	}

	.home & {
		min-height: min(1000px, 90lvh);
	}
}

@supports selector(:has(img)) {
	header:has(img) + section {
		margin-top: calc(-1 * var(--const-6));
		padding-top: calc(var(--const-3) + var(--const-6));
	}
}