.listing {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--const-8), 1fr));
	gap: var(--scale-2);

	li {
		border-radius: 15px;
		overflow: hidden;
		aspect-ratio: 4/5;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: var(--const--1);
		gap: var(--const--3);
	}

	a, p {
		width: max-content;
		z-index: 1;
		display: inline-block;
		border-radius: 1ex;
		padding: .4ex 1ex .2ex;
	}
	p {
		font-style: italic;
		background: var(--ground);
	}

	img {
		position: absolute;
		inset: 0;
		height: 100%;
	}
}

.short_listing {
	li {
		border-radius: 15px;
		background: color-mix(in lch, var(--ground) 85%, var(--accent));
		display: inline-block;
		padding: var(--const--1);
		padding-bottom: var(--const--3);
		margin-bottom: var(--const--1);
		margin-right: var(--const--3);
	}
	a {
		border-radius: 1ex;
		padding: .4ex 1ex .2ex;
	}
	p {
		font-style: italic;
		padding: .4ex 1ex 0;
	}
}