section { 
	padding: var(--const-3) var(--scale-0);
	
	.section-body {
		display: flex;
		flex-wrap: wrap;
		gap: var(--scale-2) var(--scale-3);
	}

	.text {
		flex: 0 1 var(--const-11);
/*		width: 100%;*/
/*		max-width: var(--const-11);*/
/*		display: inline-block;
		margin-right: var(--scale-4);
		margin-bottom: var(--scale-2);
*/	}

	aside {
/*		display: inline-block;*/
		font-size: var(--scale--2);
		flex: 0 2 var(--const-9);
/*		width: 100%;*/
/*		max-width: var(--const-9);*/
/*		vertical-align: top;*/
	}
}
