section { 
	padding: var(--const-3) var(--fast-0);
	
	.section-body {
		display: flex;
		flex-wrap: wrap;
		gap: var(--scale-2) var(--scale-3);
	}

	.text {
		flex: 1 0 var(--const-10);
		max-width: min(100%, var(--const-11));
	}

	aside {
		font-size: var(--scale--1);
		flex: 1 0 var(--const-5);
		max-width: min(100%, var(--const-8));
	}

	aside img {
		max-width: 60%;
	}

	a {
		padding: .2ex .6ex;
		border-radius: 0.5ex;
		background: var(--accent);
		color: var(--accentText);
	}
	a[target="_blank"]::after {
		content: '↗';
		font-family: var(--font-sans);
		display: inline-block;
		margin-left: 0.5em;
		vertical-align: middle;
		color: var(--ground);
	}
	a[href^="mailto"]::after {
		content: '✉';
		font-family: var(--font-sans);
		display: inline-block;
		margin-left: 0.5em;
		vertical-align: middle;
		color: var(--ground);
	}
}
