nav {
	font-family: var(--font-sans);

	.logo img {
		height: var(--scale-2);
		width: var(--scale-2);
		backdrop-filter: blur(15px) brightness(0.8);
		border-radius: 15px;
		position: relative;
		font-size: var(--scale--1);
	}

	.logo:hover img, .logo:focus-within img {
		height: var(--scale-5);
		width: auto;
		padding: 8px 4px;
	}
}
#top-menu {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	line-height: 1;

	a {
		text-decoration: none;
	}

	& > ul {
		max-width: var(--const-max);
		margin-inline: auto;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		gap: var(--const--4);
		padding: var(--const--4);
		list-style: none;
	}

	.menu-item {
		padding: 0.5em;
		border-radius: 15px;
		border: 2px solid #fff0;
		height: var(--scale-2);
		flex: 0 0 max-content;
	}
	.menu-item:hover, .menu-item:focus-within {
		border-color: var(--white);
	}

	.menu-item:has([aria-current]) {
		border-color: var(--accent);
		background: var(--ground);
		color: var(--text);

		li {
			background: var(--accent);
			color: var(--accentText);
			&::before {
				background: var(--ground);
				border-color: var(--ground);
			}
			&:hover::before, &:focus-within::before {
				border-color: var(--white);
			}
		}
	}

	.menu-item:not(.mobile-menu-item) {
		display: none;
	}

	.mobile-menu-item:last-of-type {
		margin-left: auto;
	}
}
@media (min-width: 60rem) {
	#top-menu {
		.menu-item {
			transition: 500ms border-color ease, 500ms height ease 400ms;
			interpolate-size: allow-keywords;
			overflow: hidden;
			flex: 1 1 max-content;
		}
		.menu-item:hover, .menu-item:focus-within {
			transition-delay: 0ms;
			height: auto;
		}

		.outline {
			font-size: var(--scale--1);
			margin-top: var(--const--2);
		}

		.menu-item:not(.mobile-menu-item) {
			display: block;
		}
		.mobile-menu-item {
			display: none;
		}
	}
}