#menu {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	
	ul {
		display: flex;
		flex-direction: row;
		gap: var(--space-3);
		padding: var(--space--2) var(--space-1);
	}
}

.contents {
	padding: var(--space-1);
}