/* Thanks to Martin Underhill https://www.tempertemper.net/blog/skip-links-what-why-and-how */

.skip-link {
  position: absolute;
  z-index: 2;
  background: var(--white);
  color: var(--black);
  padding: 1em;
  top: 5px;
  left: 5px;
}

.skip-link:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}
main:focus {
  outline: none;
}