{% from '../macros.njk' import colors %}

<footer>
    <div class="vitals">
        <address>
            <div><strong>{{ site.title }}</strong></div>
            <div class="location">{{ site.address }} <br> {{ site.address_2 }}</div>
            <div class="contact">{{ site.email }}</div>
        </address>
        <a href="/">Newsletter</a>
    </div>

    <nav>
        {% set pages = collections.public %}
        {% if pages %}
            <ul role="list">
                {% for page in pages %}
                    <li class="colorize" style="{{ colors(page.data.groundColor, page.data.accentColor) }}"><a href="{{ page.url }}">{{ page.data.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </nav>

    <div class="bottom">
        <a href="">Accessibility Statement</a>
        <a href="#top">↑ Top</a>
    </div>

    {% if false %}
        {% if site.social_links %}
        <section>
            <em>Links</em>
            <ul>
            {% for link in site.social_links %}
                <li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
            {% endfor %}
            </ul>
        </section>
        {% endif %}

        {% if site.credits %}
        <section>
            <em>Credits</em>
            <ul>
            {% for genre, credits in site.credits | groupby("genre") %}
                <li>
                    {{ genre | title }}:
                    {% for credit in credits %}
                        <a href="{{ credit.url }}" target="_blank">{{ credit.name }}</a>
                    {% endfor %}
                </li>
            {% endfor %}
            </ul>
        </section>
        {% endif %}
    {% endif %}
</footer>