{% from '../macros.njk' import colors %}

<footer id="footer">
    <div class="easy-flex">
        <address>
            <div><strong>{{ site.title }}</strong></div>
            <div class="location">{{ site.address }} <br> {{ site.address_2 }}</div>
            <div class="contact">{{ site.email }}</div>
        </address>
        <a href="#top">↑ Jump to Top</a>
    </div>

    <div class="easy-flex">
        <a href="/">Newsletter</a>
    </div>

    {% set navId = 'footer-menu' %}
    {% include './nav.njk' %}

    <div class="easy-flex flex-start">
        <span class="font-sans">© {{ thisYear }} by SCALES-OKN</span>
        <a href="/accessibility">Accessibility Statement</a>
        <a href="/privacy">Privacy Policy</a>
    </div>

    {% if false %}
        {% if site.social_links %}
        <section>
            <em>Links</em>
            <ul>
            {% for link in site.social_links %}
                <li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
            {% endfor %}
            </ul>
        </section>
        {% endif %}

        {% if site.credits %}
        <section>
            <em>Credits</em>
            <ul>
            {% for genre, credits in site.credits | groupby("genre") %}
                <li>
                    {{ genre | title }}:
                    {% for credit in credits %}
                        <a href="{{ credit.url }}" target="_blank">{{ credit.name }}</a>
                    {% endfor %}
                </li>
            {% endfor %}
            </ul>
        </section>
        {% endif %}
    {% endif %}
</footer>