{% if dither %}
  {% set ditherUrl = ['/icons/', dither, '.png' ] | join %}
{% else %}
  {% set ditherUrl = ['/icons/', accentColor, '.png' ] | join %}
{% endif %}
{% set text = displayHeading or name or title %}
{% set long = (text | length) > 20 %}
{% set subtitle = jobTitle %}

<header class="dither {% if long %} long {% endif %}" style="background-image: url('{{ ditherUrl }}');">
    
    {% if layout === 'person.njk' %}
    <div class="navgroup">
      <a href="/who-we-are">Who We Are</a>
      <h1>{{ text }}</h1>
    </div>
    {% elif page.fileSlug === 'home' %}
    <div class="navgroup">
      <p>Welcome to SCALES</p>
      <h1>{{ text }}</h1>
    </div>
    {% else %}
      <h1>{{ text }}</h1>
    {% endif %}

    {% if tableOfContents %}
      {% include "./tableOfContents.njk" %}
    {% endif %}

    {% if headerImage %}
      <img src="{{ headerImage }}" alt="{{ headerAlt }}">
    {% endif %}

</header>