<meta name="robots" content="index, follow">

<meta property="og:title" content="{{ headTitle }}">
<meta name="twitter:title" content="{{ headTitle }}">

<meta name="description" content="{{ excerpt or site.mission }}">
<meta property="og:description" content="{{ excerpt or site.mission }}">
<meta name="twitter:description" content="{{ excerpt or site.mission }}">

<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">

{#  {% set metaimage = headerImage or homepage.image %}
<meta name="twitter:image" content="{% imgpath metaimage.imgSrc %}">
<meta property="og:image" content="{% imgpath metaimage.imgSrc %}">
<meta name="twitter:image:alt" content="{{ metaimage.imgAlt }}"> #}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="https://twitter.com/scales_okn">