{% from '../macros.njk' import outline %}
{% set navId = navId or "top-menu" %}

<nav id="{{ navId }}" aria-label="top navigation menu">
{% set pages = collections.public %}
{% if pages %}
    <ul class="reset">
        <li class="logo">
            <a href="/">
                <img src="/icons/white-logo.svg" alt="logo" width="300">
            </a>
        </li>

        {% set this = page %}
        {% for that in pages %}
            {% set data = that.data %}
            {% if that.fileSlug === 'home' %}
                {% set title = site.title %}
            {% else %}
                {% set title = data.title %}
            {% endif %}
            {% set slug = title | slugify  %}
            {% set url = that.url %}
            {% set elements = data.pageElements %}
            {% set style = colors(data.groundColor, data.accentColor) %}
            {% set id = [slug, "-submenu"] | join %}

            <li class="colorize-accent menu-item reset full-link" style="{{ style }}">
                {# <button id="{{ title }}-button" type="button" aria-expanded="false" aria-controls="{{ slug }}-submenu"></button> #}
                <a href="{{ url }}" {% if url === this.url %} aria-current="page" {% endif %}>
                    {{ title }}
                </a>
                {{ outline(elements, id, url) }}
            </li>
        {% endfor %}
        {#<li class="colorize-accent menu-item" style="--ground:var(--black);--text:var(--white);--accent:var(--white);--accentText:var(--black);">
            <span>Settings</span>
            <ul class="outline reset flow">
                <li>
                    <label for="more-contrast-{{navId}}">
                        <input id="more-contrast-{{navId}}" type="checkbox" value="more-contrast">
                        Increased Contrast
                    </label>
                </li>
                <li>Text Size</li>
                <li>Animations</li>
            </ul>
        </li>#}
        <li class="colorize-accent full-link mobile-menu-item menu-item">
            <a href="/">{{ site.title }}</a>
        </li>
        <li class="colorize-accent full-link mobile-menu-item menu-item">
            <a href="#footer">↓ Jump to Menu</a>
        </li>
    </ul>
{% endif %}
</nav>