{% from '../macros.njk' import outline %}
{% set navId = navId or "top-menu" %}

<nav id="{{ navId }}">
{% set pages = collections.public %}
    <ul class="reset">
        {% set this = page %}
        {% for that in pages %}
            {% set data = that.data %}
            {% set title = data.title %}
            {% set slug = title | slugify  %}
            {% set url = that.url %}
            {% set elements = data.pageElements %}
            {% set style = colors(data.groundColor, data.accentColor) %}
            {% set id = [slug, "-submenu"] | join %}

            <li class="colorize-accent menu-item reset full-link" style="{{ style }}">
                {# <button id="{{ title }}-button" type="button" aria-expanded="false" aria-controls="{{ slug }}-submenu"></button> #}
                <a href="{{ url }}" {% if url === this.url %} aria-current="page" {% endif %}>
                    {{ title }}
                </a>
                {{ outline(elements, id, url) }}
            </li>
        {% endfor %}
        {#<li class="colorize-accent menu-item" style="--ground:var(--black);--text:var(--white);--accent:var(--white);--accentText:var(--black);">
            <span>Settings</span>
            <ul class="outline reset flow">
                <li>
                    <label for="more-contrast-{{navId}}">
                        <input id="more-contrast-{{navId}}" type="checkbox" value="more-contrast">
                        Increased Contrast
                    </label>
                </li>
                <li>Text Size</li>
                <li>Animations</li>
            </ul>
        </li>#}
    </ul>
</nav>