body {
	--ground: var(--black);
	--text: var(--white);
	--accent: var(--white);
	--accentText: var(--white);
}
body, section, article, figure, .colorize {
	background: var(--ground);
	color: var(--text);
}