.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.flex-across {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--const-1);

    > * {
        flex: 1 1 auto;
    }
}