/* Reset adapted from Andy Bell, 2023 https://piccalil.li/blog/a-more-modern-css-reset/ */

*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 100%;
}
body {
    min-height: 100vh;
}
body, h1, h2, h3, h4, p,
figure, blockquote, ul, ol, dl, dd {
    margin: 0;
}
h1, h2, h3, h4 {
    font-weight: normal;
}
a {
    color: currentColor;
}
:is(ul, ol).reset {
    list-style: none;
    padding: 0;
}
ul, ol {
    padding-left: 2em;
}
img,
picture {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}
:target {
    scroll-margin-block: 5ex;
}