/* COLORS */
html {
	--black: #0a0a0a;
	--white: #f3f2f1;
	--lime: #b7df3e;
	--orange: #ff7000;
	--forest: #25740c;
	--navy: #284666;
	--pink: #eb84c9;
	--purple: #4a243f;
	--brown: #35190e;
	--yellow: #eec831;
	--teal: #29d4c0;
}

html {
	/* Sizes that Grow */
	--scale-10: calc(var(--scale-0) * pow(1.4, 10));
	--scale-6: calc(var(--scale-0) * pow(1.4, 6));
	--scale-5: calc(var(--scale-0) * pow(1.4, 5));
	--scale-4: calc(var(--scale-0) * pow(1.4, 4));
	--scale-3: calc(var(--scale-0) * pow(1.4, 3));
	--scale-2: calc(var(--scale-0) * pow(1.4, 2));
	--scale-1: calc(var(--scale-0) * pow(1.4, 1));
	--scale-0: clamp(1rem, 0.7rem + 0.8vw, 1.4rem);
	--scale--1: calc(var(--scale-0) * pow(1.4, -1));
	--scale--2: calc(var(--scale-0) * pow(1.4, -2));

	--fast-0: clamp(1rem, 10vw - 1rem, 6rem);
	--fast--1: clamp(2.744rem, 10vw - 1rem, 5.378rem);

	/* Sizes that Stay the Same */
	--const-12: calc(1rem * pow(1.4, 13));
	--const-12: calc(1rem * pow(1.4, 12));
	--const-11: calc(1rem * pow(1.4, 11));
	--const-10: calc(1rem * pow(1.4, 10));
	--const-9: calc(1rem * pow(1.4, 9));
	--const-5: calc(1rem * pow(1.4, 5));
	--const-4: calc(1rem * pow(1.4, 4));
	--const-3: calc(1rem * pow(1.4, 3));
	--const-2: calc(1rem * pow(1.4, 2));
	--const-1: calc(1rem * pow(1.4, 1));
	--const-0: 1rem;
	--const--1: calc(1rem * pow(1.4, -1));
	--const--2: calc(1rem * pow(1.4, -2));
	--const--3: calc(1rem * pow(1.4, -3));
	--const--4: calc(1rem * pow(1.4, -4));

	--const-max: 87.5rem;

	/* Font Stack */
	--font-sans: "VG5000", sans-serif;
	--font-serif: "Redaction", serif;
	--font-serif-1: "Redaction 10", "Redaction", serif;
	--font-serif-2: "Redaction 20", "Redaction", serif;
	--font-serif-3: "Redaction 35", "Redaction", serif;
	--font-serif-4: "Redaction 50", "Redaction", serif;
}