body { 
    font-size: var(--scale-0); 
    font-family: var(--font-serif);
    line-height: 1.4;
}
h1 { 
    font-size: var(--fast--1); 
    font-family: var(--font-serif-3);
}
h2 { 
    font-size: var(--scale-3);
    font-family: var(--font-sans);
}
h3 { 
    font-size: var(--scale-1); 
    font-family: var(--font-serif-2);
    font-style: italic;
}
h1, h2, h3 {
    text-wrap: balance;
    line-height: 1;
    hyphens: auto;
}


.font-sans { font-family: var(--font-sans); }
.font-serif { font-family: var(--font-serif); }
.font-serif-1 { font-family: var(--font-serif-1); }
.font-serif-2 { font-family: var(--font-serif-2); }
.font-serif-3 { font-family: var(--font-serif-3); }
/*.font-serif-4 { font-family: var(--font-serif-4); }*/