.decor-none {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.max-width {
    max-width: var(--max-width);
}

.copy-width {
    max-width: 40rem;
    margin-inline: auto;
}

.img-fullscreen {
    width: 100%;
    height: 100lvh;
    object-fit: cover;
}

.full-link {
    position: relative;

    a::after { 
        content: '';
        position: absolute;
        inset: 0;
    }
}

.easy-flex {
    padding: var(--const-0);
    display: flex;
    flex-wrap: wrap;
    gap: var(--const-1);
    justify-content: space-between;
    align-items: flex-start;
}

.flex-start {
    justify-content: flex-start;
}