<div class="cards" data-count="{{ section.cards | length }}">
	{% for card in section.cards %}
		{% set page = collections.all | telepage(card.title) %}
		<article style="--ground: var(--{{ page.data.groundColor or 'black' }}); --accent: var(--{{ page.data.accentColor or 'white' }}); --text: var(--{{ page.data.groundColor | contrast }})">
			<a href="{{ page.page.url }}">{{ card.text | truncate(28) }}</a>
		</article>
	{% endfor %}
</div>