{% from "../macros.njk" import colors %}

<div class="cards" data-count="{{ section.cards | length }}">
	{% for card in section.cards %}
		{% set page = collections.all | telepage(card.title) %}
		<article style="{{ colors(page.data.groundColor, page.data.accentColor) }}">
			<a href="{{ page.page.url }}">{{ card.text | truncate(28) }}</a>
		</article>
	{% endfor %}
</div>