{% from "../macros.njk" import colors %}

<figure style="{{ colors(section.color) }}">
	{% if section.imgSrc %}
		<img src="{{ section.imgSrc }}" alt="{{ section.alt }}">
	{% elif section.vidSrc %}
	{% endif %}

	{% if section.caption %}
		<figcaption>{{ section.caption }}</figcaption>
	{% endif %}
</figure>