{% set pool = collections[section.collection] %}

<section id="{{ section.heading | slugify }}">
	<h2>{{ section.heading }}</h2>

	<ul class="{{ section.type }} reset">
		{% for item in section.items %}
			{% set match = pool | telepage(item) %}
			<li class="full-link">
				{% if section.type === 'listing' %}
					<img src="{{ match.data.picture }}" alt="{{ match.data.alt }}">
				{% endif %}
				<a href="{{ match.url }}">{{ match.data.name }}</a>
				<p>{{ match.data.jobTitle }}</p>
			</li>
		{% endfor %}
	</ul>
</section>