{% set items = collections[section.collection] %}

<section id="{{ section.heading | slugify }}">
	<h2>{{ section.heading }}</h2>

	<ul class="listing reset">
		{% for item in items %}
		{% if item.data[section.filter | first] === section.filter | last %}
			<li class="full-link">
				<img src="{{ item.data.picture }}" alt="{{ item.data.alt }}">
				<a href="{{ item.url }}">{{ item.data.name }}</a>
				<p>{{ item.data.jobTitle }}</p>
			</li>
		{% endif %}
		{% endfor %}
	</ul>
</section>