{% from "../macros.njk" import colors %}

<section id="{{ section.heading | slugify }}" style="{{ colors(section.color or groundColor) }}">
  
  {% if section.heading %}
    <h2>{{ section.heading }}</h2>
  {% endif %}

  <div class="section-body">
    <div class="text flow">{{ section.body | markdown | safe }}</div>

    {% if section.aside %}
      <aside class="flow">{{ section.aside | markdown | safe }}</aside>
    {% endif %}
  </div>

</section>