{% from "../macros.njk" import colors %}

<section id="{{ section.heading | slugify }}" style="{{ colors(section.color) }}">
  
  <h2>{{ section.heading }}</h2>

  <div class="section-body">
    <div class="text flow">{{ section.body | markdown | safe }}</div>

    {% if section.aside %}
      <aside>{{ section.aside | markdown | safe }}</aside>
    {% endif %}
  </div>

</section>