{% from 'macros.njk' import colors %}

{% if page.url === '/' %}
    {% set headTitle = site.title %}
{% else %}
    {% set headTitle = [title, ' | ', site.title] | join %}
{% endif %}

{% if dither and dither !== 'default' %}
    {% set ditherUrl = ['/icons/', dither, '.png' ] | join %}
{% else %}
    {% set ditherUrl = ['/icons/', accentColor, '.png' ] | join %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{headTitle}}</title>

    <link rel="icon" href="/icons/favicon32.png" sizes="32x32">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preload" href="/fonts/Redaction-Regular.woff2">
    <link rel="preload" href="/fonts/VG5000-Regular_web.woff2">
    <link rel="preload" href="{{ ditherUrl }}">

    {% include "components/meta.njk" %}
</head>
<body id="top" class="{{ layout | noext }} {{ page.fileSlug }}" style="{{ colors(groundColor, accentColor) }}">
    <a href="#skip" class="skip-link">Skip to main content</a>
    {% include "components/nav.njk" %}
    <main id="skip" tabindex="-1">
        {{ content | safe }}
    </main>
    {% include "components/footer.njk" %}
</body>
</html>
