{% from 'macros.njk' import colors %}

{% if page.url === '/' %}
    {% set headTitle = site.title %}
{% else %}
    {% set headTitle = [title, ' | ', site.title] | join %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{headTitle}}</title>

    {% if site.favicon %} {% favicon site.favicon %} {% endif %}

    <link rel="stylesheet" href="/css/styles.css">

    {% include "components/meta.njk" %}
</head>
<body id="top" class="{{ layout | noext }}" style="{{ colors(groundColor, accentColor) }}">
    <a href="#skip" class="skip-link">Skip to main content</a>
    {% include "components/nav.njk" %}
    <main id="skip" tabindex="-1">
        {{ content | safe }}
    </main>
    {% include "components/footer.njk" %}
</body>
</html>
