{% macro colors(ground, accent) %}
	{% set darkColors = ['black', 'navy', 'forest', 'purple', 'stone'] %}
	{% if ground in darkColors %}
		{% set text = 'white' %}
	{% else %}
		{% set text = 'black' %}
	{% endif %}
	{% if ground %}
		--ground: var(--{{ ground }}); 
		--text: var(--{{ text }});
	{% endif %}
	{% if accent and accent !== ground %}
		{% if accent in darkColors %}
			{% set accentText = 'white' %}
		{% else %}
			{% set accentText = 'black' %}
		{% endif %}
		--accent: var(--{{ accent }}); 
		--accentText: var(--{{ accentText }});
	{% endif %}
{% endmacro %}

{% macro outline(pageElements, id, url) %}
	{% if pageElements %}
	<ol class="outline reset flow" id="{{ id }}">
		{% for element in pageElements %}
			{% set heading = element.heading %}
			{% set href = [url, "#", heading | slugify] | join %}
			
			{% if heading %}
				<li class="full-link">
					<a href="{{ href }}">
						{{ heading }}
					</a>
				</li>
			{% endif %}
			
		{% endfor %}
	</ol>
	{% endif %}
{% endmacro %}