---
layout: base.njk
---

<main id="skip" tabindex="-1">
  {% include "components/header.njk" %}

  {% if tableOfContents %}
    {% include "components/tableOfContents.njk" %}
  {% endif %}

  {% for section in pageElements %}
      {% if section.type === 'markdown' %}
        {% include "sections/markdown.njk" %}

      {% elif section.type === 'cards' %}
        {% include "sections/cards.njk" %}

      {% elif section.type === 'figure' %}
        {% include "sections/figure.njk" %}

      {% endif %}
  {% endfor %}
</main>