---
layout: base.njk
---

{% include "components/header.njk" %}

{% for section in pageElements %}
    {% if section.type === 'markdown' %}
      {% include "sections/markdown.njk" %}

    {% elif section.type === 'cards' %}
      {% include "sections/cards.njk" %}

    {% elif section.type === 'figure' %}
      {% include "sections/figure.njk" %}

    {% elif section.type === 'listing' or section.type === 'short_listing' %}
      {% include "sections/listing.njk" %}

    {% endif %}
{% endfor %}
